.social-container {
    margin-top: 3rem;
  }
  .social-container > img {
    margin-left: 10px;
    cursor: pointer;
  }
  .footer-container > button {
    margin-top: 3rem;
    padding: 12px 28px;
    border: none;
    outline-width: 0;
    color: white;
    border-radius: 24px;
    cursor: pointer;
    font-weight: 400;
    background-image: linear-gradient(
      120deg,
      hsl(192, 70%, 51%),
      hsl(136, 65%, 51%)
    );
  }
  .footer {
    background-color: hsla(233, 100%, 21%, 0.318);
    height: 30vh;
  }
  .footer-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 2rem;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .menu > a {
    text-decoration: none;
    color: white;
    margin-bottom: 15px;
    font-weight: 600;
  }  
