.container1 .box {
    width: 100%;
    display: table;
}

.container1 .box .box-row {
    display: table-row;
}

.container1 .box .box-cell {
    display: table-cell;
    padding: 15px;
}

.container1 .box .box-cell.box1 {
    background: rgb(119, 119, 170);
    text-align: center;
}

.container1 .box .box-cell.box2 {
    background: lightgreen;
    text-align: center;
}

.container1 .box .box-cell.box3 {
    background: rgb(119, 119, 170);
    text-align: center;
}
.container1 .box .box-cell.box4{
    background: lightgreen;
    text-align: center;
}
.container1 .box .box-cell.box5{
    background:rgb(119, 119, 170);
    text-align: center;
}

.container2 .box {
    width: 100%;
    display: table;
}

.container2 .box .box-row {
    display: table-row;
}

.container2 .box .box-cell {
    display: table-cell;
    padding: 15px;
}

.container2 .box .box-cell.box1 {
    background: rgb(119, 119, 170);
    text-align: center;
}

.container2 .box .box-cell.box2 {
    background: lightgreen;
    text-align: center;
}

.container2 .box .box-cell.box3 {
    background: rgb(119, 119, 170);
    text-align: center;
}
.container2 .box .box-cell.box4{
    background: lightgreen;
    text-align: center;
}
.container2 .box .box-cell.box5{
    background:rgb(119, 119, 170);
    text-align: center;
}
.container3 .box {
    width: 100%;
    display: table;
}

.container3 .box .box-row {
    display: table-row;
}

.container3 .box .box-cell {
    display: table-cell;
    padding: 15px;
}

.container3 .box .box-cell.box1 {
    background: rgb(119, 119, 170);
    text-align: center;
}

.container3 .box .box-cell.box2 {
    background: lightgreen;
    text-align: center;
}

.container3 .box .box-cell.box3 {
    background: rgb(119, 119, 170);
    text-align: center;
}
.container3 .box .box-cell.box4{
    background: lightgreen;
    text-align: center;
}
.container3 .box .box-cell.box5{
    background:rgb(119, 119, 170);
    text-align: center;
}
